        <%= form_with(model:[@book,@book_comment], remote: true) do |f| %>
          <%= f.text_area :comment, row:'5', class: "form-control" %>
        <div class="form-group">
          <%= f.submit "送信"  %>
        <% end %>
        </div>