<% if @range == "User" %>
  <h3>Users search for "<%= @search %>"</h3>
  <%= render 'users/index', users: @records %>

<% elsif @range == "Book" || @range == "Tag" %>
  <h3>Books search for "<%= @search %>"</h3>
  <%= render 'books/index', books: @records %>

<% end %>